.construction-page {
    background-color: white;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    text-align: center;
    padding-top: 40px;
    .under-construction-header {
        font-weight: 300;
        text-align: center;
        .header {
            font-size: 40px;
        }
        .message {
            font-size: 32px;
        }
    }
}

@media screen and (max-width: 480px) {
    .construction-page {
        padding-top: 35px;
        .under-construction-header {
            font-weight: 300;
            text-align: center;
            .header {
                font-size: 30px
            }
            .message {
                font-size: 22px;
            }   
        }
    }
}