@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400&display=swap');

.home-page {
    background-color: white;
    margin: auto;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    .highlight {
        float: left;
        width: 20%;
        height: calc(100% - 10px);
        padding: 5px;
        border-radius: 25px;
        overflow: hidden;
        box-sizing: border-box;
        .footer {
            font-family: 'Baloo Tammudu 2', cursive;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-bottom: 10px;
            height: 25px;
            background-color: white;
        }
    }
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .home-page {
        height: 100vh;  
        max-height: -webkit-fill-available;
        overflow: hidden;
        .highlight {
            display: none;
        }
        .mobile-header {
            display: block !important;
            text-align: right;
            width: 100%;
            position: sticky;
            position: -webkit-sticky;
        }
    }
}