.about-page {
    background-color: white;
    margin: auto;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    .highlight {
        float: left;
        width: calc(20% - 10px);
        height: 100%;
        padding: 5px;
        border-radius: 25px;
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        .footer {
            font-family: 'Baloo Tammudu 2', cursive;
            font-size: 14px;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 25px;
            padding-bottom: 10px;
            padding-left: 2px;
            background-color: white;
        }
    }
    .about-feed {
        width: calc(80% - 10px);
        padding-left: 5px;
        padding-right: 5px;
        float: right;
        padding-top: 10px;
        height: calc(100% - 10px);
        overflow: auto;
        // background: #efeff0;
    }
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .about-page {
        height: 100vh;  
        max-height: -webkit-fill-available;
        overflow: hidden;
        .highlight {
            display: none;
        }
        .mobile-header {
            display: block !important;
            text-align: right;
            width: 100%;
            position: sticky;
            position: -webkit-sticky;
            .alert-mobile-enter {
                opacity: 0;
                // transform: scale(0.9);
                transform: translateY(-100%);
            }
            .alert-mobile-enter-active {
                opacity: 1;
                transform: translateX(0px);
                transition: opacity 300ms, transform 300ms;
            }
            .alert-mobile-exit {
                opacity: 1;
            }
            .alert-mobile-exit-active {
                opacity: 0;
                // transform: scale(0.9);
                transform: translateY(-100%);
                transition: opacity 300ms, transform 300ms;
            }
        }
        .about-feed {
            width: 100%;
        }
    }
}