.preview-container {
    padding: 30px;
    background: white;
    border-radius: 5px;
    min-height: 175px;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 500;
    overflow: auto;
    &:last-child {
        border-bottom: none;
    }
    .preview-container-left {
        position: relative;
        float: left;
        width: 60%;
        padding: 5px;
        .preview-title {
            font-size: 30px;
            font-family: "Inter", sans-serif;
            padding-bottom: 10px;
        }
        .preview-subtitle {
            font-size: 18px;
            font-family: "Inter", sans-serif;
            padding-bottom: 10px;
        }
    }
    .preview-container-right {
        position: relative;
        padding: 10px;
        float: right;
        width: 35%;
        img {
            display: flex;
            justify-content: center; 
            align-items: center;
            width: 100%;
        }
    }

}

@media screen and (max-width: 480px) {
    .preview-container {
        padding: 10px;
        overflow: hidden;
        box-sizing: border-box;
        .preview-container-top {
            display: block;
            position: relative;
            width: 100%;
            padding: 5px;
            img {
                display: flex;
                justify-content: center; 
                align-items: center;
                width: 98%;
            }
        }
        .preview-container-bot {
            display: block;
            position: relative;
            width: 95%;
            padding: 10px;
            .preview-title {
                font-size: 21px;
                font-family: "Inter", sans-serif;
                padding-bottom: 10px;
            }
            .preview-body {
                font-size: 15px;
            }
        }
    }
}