.feed-container {
    width: calc(80% - 10px);
    padding-left: 5px;
    padding-right: 5px;
    float: right;
    padding-top: 10px;
    height: calc(100% - 10px);
    overflow: auto;
    // background: #efeff0;
}
.divider {
    position: relative;
    border-bottom: 1px solid #d2d2d2;
    width: 85%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .feed-container {
        width: 100%;
        float: none;
        margin: auto;
        position: relative;
        display: block;
        padding: 0px;
        height: 90%;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
    }
}