.blog-page {
    background-color: white;
    margin: auto;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    .highlight {
        float: left;
        width: 25%;
        height: 100%;
    }
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .highlight {
        display: none;
    }
    .feed {
        width: 100%;
        float: none;
    }
    .mobile-header {
        display: block !important;
        text-align: right;
        width: 100%;
    }
}