@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400&display=swap');
.blog-page {
    background-color: white;
    margin: auto;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    // padding: 5px;
    .highlight {
        float: left;
        width: 26%;
        height: calc(100% - 10px);
        padding: 5px;
        border-radius: 25px;
    }
    .mobile-header {
        display: none;
    }
    .feed {
        float: right;
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    .highlight {
        display: none;
    }
    .feed-container {
        width: 100%;
        float: none;
        margin: auto;
        position: relative;
        display: block;
        padding: 0px;
    }
    .mobile-header {
        display: block !important;
        text-align: right;
        width: 100%;
    }
}